<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://funcapptollbooth.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/02c26f48-74d6-4cff-a7c6-d0a41a61e4ad/resourceGroups/Serverless_HOL_RG/providers/Microsoft.Web/sites/FuncAppTollBooth</ResourceId>
    <UserName>$FuncAppTollBooth</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://funcapptollbooth.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>